# shell aliases
# don't forget to source in ~/.zshrc with 'source $HOME/.aliases'

alias gotty-docker='alias gotty-links="gotty --title-format 'Busybox' -p 8095 -w docker run -m 67110000 --kernel-memory 128m --memory-swap -1 --ulimit nproc=48:96 --rm -it alpine:3.3 /bin/ash'
alias gotty-watchme="gotty --title-format 'Twitch Plays Sysadmin' tmux new -A -s gotty /bin/zsh"
alias gotty-links="gotty --title-format 'Busybox' -p 8095 -w docker run -m 67110000 --kernel-memory 128m --memory-swap -1 --ulimit nproc=48:96 --rm -it alpine:3.3 /bin/ash -c 'apk update && apk add links && links'"
alias join='ssh -t -R 19999:localhost:22 docker tmux new -A -s gotty "ssh localhost -p19999"'
alias syncmusic='rsync -av -u -h --ignore-existing --delete --no-perms --no-owner --no-group -e "ssh -p 443" --partial gate:/Music ~/'
alias clean='bleachbit --preset -c && sudo bleachbit --preset -c'
alias rec='LC_ALL=en_US.UTF-8 asciinema rec'
alias vim="stty stop '' -ixoff ; vim"
