include /usr/share/nano/sh.nanorc
include /usr/share/nano/html.nanorc
include /usr/share/nano/makefile.nanorc
include /usr/share/nano/python.nanorc
include /usr/share/nano/xml.nanorc
include /usr/share/nano/tex.nanorc
include /usr/share/nano/man.nanorc

# automatically indent
set autoindent

# don't create backup files
unset backup

# use bold text instead of reverse video text
set boldtext

# searches are case-sensitive by default
set casesensitive

# log input
set historylog

unset morespace
set noconvert
unset nofollow
unset nowrap
set tabstospaces
