# Sample mildly hardened SSH daemon config

# Listen on this port (non-standard ports make management a mess)
Port 22

# Restrict key and cipher types to more secure options
Protocol 2
ServerKeyBits 2048
HostKey /etc/ssh/ssh_host_rsa_key
HostKey /etc/ssh/ssh_host_ed25519_key
Ciphers chacha20-poly1305@openssh.com,aes256-gcm@openssh.com,aes128-gcm@openssh.com,aes256-ctr,aes192-ctr,aes128-ctr
MACs hmac-sha2-512-etm@openssh.com,hmac-sha2-256-etm@openssh.com,hmac-ripemd160-etm@openssh.com,umac-128-etm@openssh.com,hmac-sha2-512,hmac-sha2-256,hmac-ripemd160,umac-128@openssh.com
KexAlgorithms curve25519-sha256@libssh.org,diffie-hellman-group-exchange-sha256

# Only allow users in group ssh-user to connect
AllowGroups ssh-user
PermitRootLogin no
UsePAM yes

# Other security settings
UsePrivilegeSeparation yes
KeyRegenerationInterval 3600
PermitEmptyPasswords no
StrictModes yes
RSAAuthentication yes
PubkeyAuthentication yes
IgnoreRhosts yes
RhostsRSAAuthentication no
HostbasedAuthentication no
ChallengeResponseAuthentication no

# No need for X11 forwarding
X11Forwarding no
X11DisplayOffset 10

# Miscellaneous settings
LogLevel INFO
SyslogFacility AUTH
LoginGraceTime 120
PrintMotd no
PrintLastLog yes
TCPKeepAlive yes
AcceptEnv LANG LC_*
Subsystem sftp /usr/lib/openssh/sftp-server
UsePAM yes
KexAlgorithms curve25519-sha256@libssh.org,diffie-hellman-group-exchange-sha256
